In [43]:
# --- Force working directory to this file's folder and build robust paths ---
import os, sys
from pathlib import Path
from configs.test_config import TestConfig
from network_definition import NetworkDefinition
from pypsa2smspp.transformation import Transformation
from datetime import datetime
import pysmspp

from pypsa2smspp.network_correction import (
    clean_marginal_cost,
    clean_global_constraints,
    clean_e_sum,
    clean_efficiency_link,
    clean_ciclicity_storage,
    clean_marginal_cost_intermittent,
    clean_storage_units,
    clean_stores,
    parse_txt_file,
    compare_networks,
    add_slack_unit
    )

def get_datafile(fname):
    return os.path.join(os.path.dirname(__file__), "test_data", fname)

#%% Network definition with PyPSA
config = TestConfig()
nd = NetworkDefinition(config)

nd.n = add_slack_unit(nd.n)
nd.n = clean_ciclicity_storage(nd.n)


network = nd.n.copy()
network.optimize(solver_name='gurobi')

# network.export_to_netcdf("test_pypsa.nc")

network.model.to_file(fn = "pypsa.lp")
#%% Transformation class
then = datetime.now()
transformation = Transformation(network, merge_links=True, expansion_ucblock=True)
print(f"La classe di trasformazione ci mette {datetime.now() - then} secondi")

tran = transformation.convert_to_blocks()

WARNING    2025-11-03 10:50:13,271 pypsa.network.transform add         228 : The attribute 'max_hours' is a standard attribute for other components but not for stores. This could cause confusion and it should be renamed. See also: https://go.pypsa.org/warning-attr-misleading.
INFO       2025-11-03 10:50:14,297 linopy.model solve       1181:  Solve problem using Gurobi solver
INFO       2025-11-03 10:50:14,600 linopy.io  to_lp_file  469 :  Writing time: 0.15s

Set parameter Username

INFO       2025-11-03 10:50:14,603 gurobipy   solve_problem_from_file  1059: Set parameter Username

Set parameter LicenseID to value 2647006

INFO       2025-11-03 10:50:14,606 gurobipy   solve_problem_from_file  1059: Set parameter LicenseID to value 2647006

Academic license - for non-commercial use only - expires 2026-04-03

INFO       2025-11-03 10:50:14,609 gurobipy   solve_problem_from_file  1059: Academic license - for non-commercial use only - expires 2026-04-03

Read LP format model from file /tmp/linopy-problem-11f0b7uw.lp

INFO       2025-11-03 10:50:14,612 gurobipy   solve_problem_from_file  1065: Read LP format model from file /tmp/linopy-problem-11f0b7uw.lp

Reading time = 0.00 seconds

INFO       2025-11-03 10:50:14,613 gurobipy   solve_problem_from_file  1065: Reading time = 0.00 seconds

obj: 314 rows, 146 columns, 493 nonzeros

INFO       2025-11-03 10:50:14,614 gurobipy   solve_problem_from_file  1065: obj: 314 rows, 146 columns, 493 nonzeros

Gurobi Optimizer version 12.0.3 build v12.0.3rc0 (linux64 - "Ubuntu 24.04.3 LTS")

INFO       2025-11-03 10:50:14,614 gurobipy   _solve      1141: Gurobi Optimizer version 12.0.3 build v12.0.3rc0 (linux64 - "Ubuntu 24.04.3 LTS")

INFO       2025-11-03 10:50:14,616 gurobipy   _solve      1141:

CPU model: Intel(R) Xeon(R) Gold 5120 CPU @ 2.20GHz, instruction set [SSE2|AVX|AVX2|AVX512]

INFO       2025-11-03 10:50:14,617 gurobipy   _solve      1141: CPU model: Intel(R) Xeon(R) Gold 5120 CPU @ 2.20GHz, instruction set [SSE2|AVX|AVX2|AVX512]

Thread count: 16 physical cores, 16 logical processors, using up to 16 threads

INFO       2025-11-03 10:50:14,618 gurobipy   _solve      1141: Thread count: 16 physical cores, 16 logical processors, using up to 16 threads

INFO       2025-11-03 10:50:14,619 gurobipy   _solve      1141:

Optimize a model with 314 rows, 146 columns and 493 nonzeros

INFO       2025-11-03 10:50:14,621 gurobipy   _solve      1141: Optimize a model with 314 rows, 146 columns and 493 nonzeros

Model fingerprint: 0x8cd50bab

INFO       2025-11-03 10:50:14,622 gurobipy   _solve      1141: Model fingerprint: 0x8cd50bab

Coefficient statistics:

INFO       2025-11-03 10:50:14,623 gurobipy   _solve      1141: Coefficient statistics:

  Matrix range     [4e-02, 1e+00]

INFO       2025-11-03 10:50:14,623 gurobipy   _solve      1141:   Matrix range     [4e-02, 1e+00]

  Objective range  [1e-02, 1e+04]

INFO       2025-11-03 10:50:14,624 gurobipy   _solve      1141:   Objective range  [1e-02, 1e+04]

  Bounds range     [1e+06, 1e+06]

INFO       2025-11-03 10:50:14,626 gurobipy   _solve      1141:   Bounds range     [1e+06, 1e+06]

  RHS range        [1e+02, 7e+05]

INFO       2025-11-03 10:50:14,628 gurobipy   _solve      1141:   RHS range        [1e+02, 7e+05]

Presolve removed 287 rows and 73 columns

INFO       2025-11-03 10:50:14,629 gurobipy   _solve      1141: Presolve removed 287 rows and 73 columns

Presolve time: 0.01s

INFO       2025-11-03 10:50:14,630 gurobipy   _solve      1141: Presolve time: 0.01s

Presolved: 27 rows, 73 columns, 101 nonzeros

INFO       2025-11-03 10:50:14,631 gurobipy   _solve      1141: Presolved: 27 rows, 73 columns, 101 nonzeros

INFO       2025-11-03 10:50:14,632 gurobipy   _solve      1141:

Iteration    Objective       Primal Inf.    Dual Inf.      Time

INFO       2025-11-03 10:50:14,633 gurobipy   _solve      1141: Iteration    Objective       Primal Inf.    Dual Inf.      Time

       0    3.9000901e+08   1.027773e+03   0.000000e+00      0s

INFO       2025-11-03 10:50:14,635 gurobipy   _solve      1141:        0    3.9000901e+08   1.027773e+03   0.000000e+00      0s

      19    3.9815590e+08   0.000000e+00   0.000000e+00      0s

INFO       2025-11-03 10:50:14,636 gurobipy   _solve      1141:       19    3.9815590e+08   0.000000e+00   0.000000e+00      0s

INFO       2025-11-03 10:50:14,637 gurobipy   _solve      1141:

Solved in 19 iterations and 0.02 seconds (0.00 work units)

INFO       2025-11-03 10:50:14,638 gurobipy   _solve      1141: Solved in 19 iterations and 0.02 seconds (0.00 work units)

Optimal objective  3.981559006e+08

INFO       2025-11-03 10:50:14,639 gurobipy   _solve      1141: Optimal objective  3.981559006e+08
INFO       2025-11-03 10:50:14,643 linopy.constants info        248 :  Optimization successful:
Status: ok
Termination condition: optimal
Solution: 146 primals, 314 duals
Objective: 3.98e+08
Solver model: available
Solver message: 2

INFO       2025-11-03 10:50:14,738 pypsa.optimization.optimize assign_duals  869 : The shadow-prices of the constraints Generator-fix-p-lower, Generator-fix-p-upper, Generator-ext-p-lower, Generator-ext-p-upper, Link-fix-p-lower, Link-fix-p-upper, Store-fix-e-lower, Store-fix-e-upper, Store-energy_balance were not assigned to the network.
INFO       2025-11-03 10:50:14,958 linopy.io  to_lp_file  469 :  Writing time: 0.18s

La classe di trasformazione ci mette 0:00:00.108593 secondi

In [44]:
# network.statistics()
(network.statistics()['Capital Expenditure'].sum() + network.statistics()['Operational Expenditure'].sum()) / 1e8 # - (network.objective + network.objective_constant) / 1e8 + network.objective_constant / 1e8 - (19711.86918 * 55 + 100 * 251621.03	+ 100 * 132325.72 + 100 * 222.49) / 1e8

4.376569773704601

In [45]:
(network.statistics.capex().sum() + network.statistics.opex().sum()) / 1e8

4.376569773704601

In [46]:
network.statistics.system_cost().sum() / 1e8

4.3765697737046

In [47]:
(network.objective + network.objective_constant) / 1e8

3.9924005337045836

In [48]:
network.objective_constant / 1e6

1.0841528051052216

In [49]:
(19711.86918 * 55 + 100 * 251621.03	+ 100 * 132325.72 + 100 * 222.49) / 1e6

39.5010768049

In [50]:
if transformation.dimensions['InvestmentBlock']['NumAssets'] == 0 or transformation.expansion_ucblock:
    ### UCBlock configuration ###
    configfile = pysmspp.SMSConfig(template="UCBlock/uc_solverconfig_grb")  # load a default config file [highs solver]
    temporary_smspp_file = "output/network_uc_hydro_0011.nc"  # path to temporary SMS++ file
    output_file = "output/temp_log_file.txt"  # path to the output file (optional)
    solution_file = "output/solution_uc_hydro_0011.nc"
    
    # Check if the file exists
    if os.path.exists(solution_file):
        os.remove(solution_file)
    
    result = tran.optimize(configfile, temporary_smspp_file, output_file, solution_file, log_executable_call=True)
    
    statistics = network.statistics()
    operational_cost = statistics['Operational Expenditure'].sum()
    # error = (operational_cost - result.objective_value) / operational_cost * 100

    objective_pypsa = network.objective # + network.objective_constant
    objective_smspp = result.objective_value
    error = (objective_pypsa - objective_smspp) / objective_pypsa * 100
    
    print(f"Error PyPSA-SMS++ of {error}%")
    
    # Esegui la funzione sul file di testo
    data_dict = parse_txt_file(output_file)

    print(f"Il solver ci ha messo {data_dict['elapsed_time']}s")
    print(f"Il tempo totale (trasformazione+pysmspp+ottimizzazione smspp) è {datetime.now() - then}")

    
    solution = transformation.parse_solution_to_unitblocks(result.solution, nd.n)
    # transformation.parse_txt_to_unitblocks(output_file)
    transformation.inverse_transformation(nd.n)

    differences = compare_networks(network, nd.n)
    statistics_smspp = nd.n.statistics()
    

else:
    ### InvestmentBlock configuration ###
    configfile = pysmspp.SMSConfig(template="InvestmentBlock/BSPar.txt")
    temporary_smspp_file = "output/temp_network_investment_daily.nc"
    output_file = "output/temp_log_file_investment.txt"  # path to the output file (optional)
    solution_file = "output/temp_solution_file_investment.nc"
    
    # Check if the file exists
    if os.path.exists(solution_file):
        os.remove(solution_file)
    
    result = tran.optimize(configfile, temporary_smspp_file, output_file, solution_file, inner_block_name='InvestmentBlock', log_executable_call=True)
    
    
    objective_pypsa = network.objective # + network.objective_constant
    objective_smspp = result.objective_value
    error = (objective_pypsa - objective_smspp) / objective_pypsa * 100
    
    print(f"Error PyPSA-SMS++ of {error}%")
    print(f"Il tempo totale (trasformazione+pysmspp+ottimizzazione smspp) è {datetime.now() - then}")

    solution = transformation.parse_solution_to_unitblocks(result.solution, nd.n)
    transformation.inverse_transformation(nd.n)

Executing command:
ucblock_solver /dati/pampado/pypsa2smspp/test/output/network_uc_hydro_0011.nc -c /dati/pampado/pySMSpp/pysmspp/data/configs/UCBlock/ -S uc_solverconfig_grb.txt -o -O /dati/pampado/pypsa2smspp/test/output/solution_uc_hydro_0011.nc

Error PyPSA-SMS++ of -0.4034601602954697%
Il solver ci ha messo 0.005873002s
Il tempo totale (trasformazione+pysmspp+ottimizzazione smspp) è 0:00:02.026281
[split] 'DCNetworkBlock_3' -> 'IT0 0 H2 Electrolysis' + 'IT0 0 H2 Fuel Cell'

In [51]:
nd.n.statistics()
# (nd.n.statistics()['Capital Expenditure'].sum() + nd.n.statistics()['Operational Expenditure'].sum()) / 1e8

                           Optimal Capacity  Installed Capacity       Supply  \
Generator slack                  6016.28251          6016.28251  39556.84484
          solar                 75842.54243         19711.86918  26336.92600
Link      H2 electrolysis         100.00000           100.00000      0.00000
          H2 fuel cell            100.00000           100.00000      0.00000
Load      AC                        0.00000             0.00000      0.00000
Store     H2                      100.00000           100.00000      0.00000

                            Withdrawal  Energy Balance Transmission  \
Generator slack                0.00000     39556.84484          0.0
          solar                0.00000     26336.92600          0.0
Link      H2 electrolysis      0.00000         0.00000          0.0
          H2 fuel cell         0.00000         0.00000          0.0
Load      AC               65893.77085    -65893.77085          0.0
Store     H2                   0.00000         0.00000          0.0

                           Capacity Factor   Curtailment  Capital Expenditure  \
Generator slack                   0.273957  104833.93549         0.000000e+00
          solar                   0.014469  461027.25163         4.171340e+06
Link      H2 electrolysis         0.000000       0.00000         2.516210e+07
          H2 fuel cell            0.000000       0.00000         1.323257e+07
Load      AC                           NaN       0.00000         0.000000e+00
Store     H2                      0.000000       0.00000         2.224900e+04

                           Operational Expenditure  Revenue  Market Value
Generator slack                       3.955684e+08      0.0           NaN
          solar                       2.633693e+02      0.0           NaN
Link      H2 electrolysis             0.000000e+00      0.0           0.0
          H2 fuel cell                0.000000e+00      0.0           0.0
Load      AC                          0.000000e+00      0.0           0.0
Store     H2                          0.000000e+00      0.0           0.0

In [52]:
network.statistics()

                           Optimal Capacity  Installed Capacity       Supply  \
Generator slack                  6016.28251          6016.28251  39506.84484
          solar                 75842.54243         19711.86918  26509.33979
Link      H2 electrolysis         100.00000           100.00000      0.00000
          H2 fuel cell            100.00000           100.00000      0.00000
Load      AC                        0.00000             0.00000      0.00000
Store     H2                      100.00000           100.00000    100.00000

                            Withdrawal  Energy Balance Transmission  \
Generator slack                0.00000     39506.84484          0.0
          solar                0.00000     26509.33979          0.0
Link      H2 electrolysis    172.41379      -172.41379          0.0
          H2 fuel cell       100.00000      -100.00000          0.0
Load      AC               65893.77085    -65893.77085          0.0
Store     H2                 100.00000         0.00000          0.0

                           Capacity Factor   Curtailment  Capital Expenditure  \
Generator slack                   0.273611  104883.93549         0.000000e+00
          solar                   0.014564  460854.83784         4.171340e+06
Link      H2 electrolysis         0.071839       0.00000         2.516210e+07
          H2 fuel cell            0.041667       0.00000         1.323257e+07
Load      AC                           NaN       0.00000         0.000000e+00
Store     H2                      0.434167       0.00000         2.224900e+04

                           Operational Expenditure       Revenue  Market Value
Generator slack                       3.950684e+08  3.950684e+08   9999.999971
          solar                       2.650934e+02  4.171605e+06    157.363592
Link      H2 electrolysis             0.000000e+00 -1.724140e+00           NaN
          H2 fuel cell                0.000000e+00 -5.000000e+05           NaN
Load      AC                          0.000000e+00 -3.997401e+08           NaN
Store     H2                          0.000000e+00  4.999983e+05   4999.978758

In [53]:
# network.generators[['capital_cost', 'marginal_cost']]
# network.links[['capital_cost', 'marginal_cost']]
network.stores[['capital_cost', 'marginal_cost']]

          capital_cost  marginal_cost
name
IT0 0 H2        222.49            0.0

In [68]:
nd.n.stores_t.keys()
nd.n.stores_t.e

name      IT0 0 H2
snapshot
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0
5              0.0
6              0.0
7              0.0
8              0.0
9              0.0
10             0.0
11             0.0
12             0.0
13             0.0
14             0.0
15             0.0
16             0.0
17             0.0
18             0.0
19             0.0
20             0.0
21             0.0
22             0.0
23             0.0

In [54]:
import pandas as pd
pd.DataFrame({
    "PyPSA e": network.stores_t["e"]['IT0 0 H2'],
    "PyPSA p": network.stores_t["p"]['IT0 0 H2'],
    "PyPSA solar": network.generators_t['p']['IT0 0 0 solar'],
    "PyPSA slack": network.generators_t['p']['slack_unit IT0 0'],
    "SMS++ e": nd.n.stores_t["e"]['IT0 0 H2'],
    "SMS++ p": nd.n.stores_t["p"]['IT0 0 H2'],
    "SMS++ solar": nd.n.generators_t['p']['IT0 0 0 solar'],
    "SMS++ slack": nd.n.generators_t['p']['slack_unit IT0 0']
})

,PyPSA e,PyPSA p,PyPSA solar,PyPSA slack,SMS++ e,SMS++ p,SMS++ solar,SMS++ slack
snapshot,,,,,,,,
0,0.0,0.0,0.000000,1766.999590,0.0,0.0,0.000000,1766.999590
1,0.0,0.0,0.000000,1570.006525,0.0,0.0,0.000000,1570.006525
2,0.0,0.0,0.000000,1813.286673,0.0,0.0,0.000000,1813.286673
3,0.0,0.0,0.000000,1580.007168,0.0,0.0,0.000000,1580.007168
4,0.0,0.0,1261.284721,0.000000,0.0,0.0,1261.284721,0.000000
5,0.0,0.0,1347.342170,0.000000,0.0,0.0,1347.342170,0.000000
6,42.0,-42.0,1586.584106,0.000000,0.0,0.0,1514.170313,0.000000
7,100.0,-58.0,2365.407883,0.000000,0.0,0.0,2265.407883,0.000000
8,100.0,0.0,2976.585599,0.000000,0.0,0.0,2976.585599,0.000000
9,100.0,0.0,3032.860475,0.000000,0.0,0.0,3032.860475,0.000000
10,100.0,0.0,2984.211288,0.000000,0.0,0.0,2984.211288,0.000000
11,100.0,0.0,2726.504207,0.000000,0.0,0.0,2726.504207,0.000000
12,100.0,0.0,2552.071800,0.000000,0.0,0.0,2552.071800,0.000000
13,100.0,0.0,1477.253348,0.000000,0.0,0.0,1477.253348,0.000000
14,100.0,0.0,1393.060128,0.000000,0.0,0.0,1393.060128,0.000000
15,100.0,0.0,2806.174070,0.000000,0.0,0.0,2806.174070,0.000000
16,100.0,0.0,0.000000,4152.574955,0.0,0.0,0.000000,4152.574955
17,0.0,100.0,0.000000,5225.665869,0.0,0.0,0.000000,5275.665869
18,0.0,0.0,0.000000,6016.282514,0.0,0.0,0.000000,6016.282514
19,0.0,0.0,0.000000,4431.866218,0.0,0.0,0.000000,4431.866218
20,0.0,0.0,0.000000,3704.396892,0.0,0.0,0.000000,3704.396892
21,0.0,0.0,0.000000,3444.877716,0.0,0.0,0.000000,3444.877716
22,0.0,0.0,0.000000,3325.595771,0.0,0.0,0.000000,3325.595771
23,0.0,0.0,0.000000,2475.284953,0.0,0.0,0.000000,2475.284953

In [55]:
transformation.unitblocks['BatteryUnitBlock_2']['variables']['MaxStorage']

{'value': array([[100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.]]),
 'type': 'float',
 'size': ('TimeHorizon',)}

In [56]:
transformation.unitblocks['IntermittentUnitBlock_0']['variables']

{'Gamma': {'value': 0.0, 'type': 'float', 'size': ()},
 'Kappa': {'value': 1.0, 'type': 'float', 'size': ()},
 'MaxPower': {'value': array([[0.   ],
         [0.   ],
         [0.   ],
         [0.   ],
         [0.213],
         [0.436],
         [0.593],
         [0.7  ],
         [0.764],
         [0.786],
         [0.772],
         [0.72 ],
         [0.627],
         [0.49 ],
         [0.288],
         [0.037],
         [0.   ],
         [0.   ],
         [0.   ],
         [0.   ],
         [0.   ],
         [0.   ],
         [0.   ],
         [0.   ]]),
  'type': 'float',
  'size': ('TimeHorizon',)},
 'MinPower': {'value': array([[0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.]]),
  'type': 'float',
  'size': ('TimeHorizon',)},
 'InertiaPower': {'value': 1.0, 'type': 'float', 'size': ()},
 'ActivePowerCost': {'value': array([[0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01]]),
  'type': 'float',
  'size': ('TimeHorizon',)},
 'InvestmentCost': {'value': [55.0], 'type': 'float', 'size': ()},
 'MaxCapacityDesign': {'value': 725545.55299179, 'type': 'float', 'size': ()},
 'MinCapacityDesign': {'value': 19711.8691837313, 'type': 'float', 'size': ()}}

In [57]:
network.links.efficiency

name
IT0 0 H2 Electrolysis    0.58
IT0 0 H2 Fuel Cell       0.50
Name: efficiency, dtype: float64

In [58]:
import pandas as pd
df1 = nd.n.stores_t['p']      # primo DataFrame
df2 = network.stores_t['p']   # secondo DataFrame
df1.join(df2, how='inner', lsuffix='_nd', rsuffix='_net')

name      IT0 0 H2_nd  IT0 0 H2_net
snapshot
0                 0.0           0.0
1                 0.0           0.0
2                 0.0           0.0
3                 0.0           0.0
4                 0.0           0.0
5                 0.0           0.0
6                 0.0         -42.0
7                 0.0         -58.0
8                 0.0           0.0
9                 0.0           0.0
10                0.0           0.0
11                0.0           0.0
12                0.0           0.0
13                0.0           0.0
14                0.0           0.0
15                0.0           0.0
16                0.0           0.0
17                0.0         100.0
18                0.0           0.0
19                0.0           0.0
20                0.0           0.0
21                0.0           0.0
22                0.0           0.0
23                0.0           0.0

In [59]:
# --- Multi-column case (align on common link names) ---
p0_nd  = nd.n.links_t['p0']
p0_net = network.links_t['p0']
p1_nd  = nd.n.links_t['p1']
p1_net = network.links_t['p1']

common_links_p0 = p0_nd.columns.intersection(p0_net.columns)
common_links_p1 = p1_nd.columns.intersection(p1_net.columns)

p0_cmp = p0_nd[common_links_p0].join(p0_net[common_links_p0], lsuffix='_nd', rsuffix='_net')
p1_cmp = p1_nd[common_links_p1].join(p1_net[common_links_p1], lsuffix='_nd', rsuffix='_net')

# Pack everything together with a neat column MultiIndex: ('p0','battery_nd'), ('p0','battery_net'), ...
links_merged = pd.concat({'p0': p0_cmp, 'p1': p1_cmp}, axis=1)

# Diffs for common links
p0_diff = p0_nd[common_links_p0] - p0_net[common_links_p0]
p1_diff = p1_nd[common_links_p1] - p1_net[common_links_p1]

links_merged

                               p0                        \
name     IT0 0 H2 Electrolysis_nd IT0 0 H2 Fuel Cell_nd
snapshot
0                             0.0                   0.0
1                             0.0                   0.0
2                             0.0                   0.0
3                             0.0                   0.0
4                             0.0                   0.0
5                             0.0                   0.0
6                             0.0                   0.0
7                             0.0                   0.0
8                             0.0                   0.0
9                             0.0                   0.0
10                            0.0                   0.0
11                            0.0                   0.0
12                            0.0                   0.0
13                            0.0                   0.0
14                            0.0                   0.0
15                            0.0                   0.0
16                            0.0                   0.0
17                            0.0                   0.0
18                            0.0                   0.0
19                            0.0                   0.0
20                            0.0                   0.0
21                            0.0                   0.0
22                            0.0                   0.0
23                            0.0                   0.0

                                                           \
name     IT0 0 H2 Electrolysis_net IT0 0 H2 Fuel Cell_net
snapshot
0                         0.000000                    0.0
1                         0.000000                    0.0
2                         0.000000                    0.0
3                         0.000000                    0.0
4                         0.000000                    0.0
5                         0.000000                    0.0
6                        72.413793                    0.0
7                       100.000000                    0.0
8                         0.000000                    0.0
9                         0.000000                    0.0
10                        0.000000                    0.0
11                        0.000000                    0.0
12                        0.000000                    0.0
13                        0.000000                    0.0
14                        0.000000                    0.0
15                        0.000000                    0.0
16                        0.000000                    0.0
17                        0.000000                  100.0
18                        0.000000                    0.0
19                        0.000000                    0.0
20                        0.000000                    0.0
21                        0.000000                    0.0
22                        0.000000                    0.0
23                        0.000000                    0.0

                               p1                        \
name     IT0 0 H2 Electrolysis_nd IT0 0 H2 Fuel Cell_nd
snapshot
0                            -0.0                  -0.0
1                            -0.0                  -0.0
2                            -0.0                  -0.0
3                            -0.0                  -0.0
4                            -0.0                  -0.0
5                            -0.0                  -0.0
6                            -0.0                  -0.0
7                            -0.0                  -0.0
8                            -0.0                  -0.0
9                            -0.0                  -0.0
10                           -0.0                  -0.0
11                           -0.0                  -0.0
12                           -0.0                  -0.0
13                           -0.0                  -0.0
14                           -0.0                  -0.0
15                           -0.0                  -0.0
16                           -0.0                  -0.0
17                           -0.0                  -0.0
18                           -0.0                  -0.0
19                           -0.0                  -0.0
20                           -0.0                  -0.0
21                           -0.0                  -0.0
22                           -0.0                  -0.0
23                           -0.0                  -0.0


name     IT0 0 H2 Electrolysis_net IT0 0 H2 Fuel Cell_net
snapshot
0                             -0.0                   -0.0
1                             -0.0                   -0.0
2                             -0.0                   -0.0
3                             -0.0                   -0.0
4                             -0.0                   -0.0
5                             -0.0                   -0.0
6                            -42.0                   -0.0
7                            -58.0                   -0.0
8                             -0.0                   -0.0
9                             -0.0                   -0.0
10                            -0.0                   -0.0
11                            -0.0                   -0.0
12                            -0.0                   -0.0
13                            -0.0                   -0.0
14                            -0.0                   -0.0
15                            -0.0                   -0.0
16                            -0.0                   -0.0
17                            -0.0                  -50.0
18                            -0.0                   -0.0
19                            -0.0                   -0.0
20                            -0.0                   -0.0
21                            -0.0                   -0.0
22                            -0.0                   -0.0
23                            -0.0                   -0.0

In [60]:
# Take the four series/single-col DF and give them clear names
p_nd  = nd.n.stores_t['p'].squeeze().rename('p_smspp')   # net power (nd)
p_net = network.stores_t['p'].squeeze().rename('p_pypsa')

e_nd  = nd.n.stores_t['e'].squeeze().rename('e_smspp')         # energy/SoC (nd)
e_net = network.stores_t['e'].squeeze().rename('e_pypsa')

# Optional sanity check: same index (snapshots)
assert p_nd.index.equals(p_net.index) and p_nd.index.equals(e_nd.index) and p_nd.index.equals(e_net.index), \
    "Indices must match"

# Simple side-by-side merge
pd.concat([p_nd, p_net, e_nd, e_net], axis=1)

# Now `merged` has columns: ['p_nd', 'p_net', 'e_nd', 'e_net']

          p_smspp  p_pypsa  e_smspp  e_pypsa
snapshot
0             0.0      0.0      0.0      0.0
1             0.0      0.0      0.0      0.0
2             0.0      0.0      0.0      0.0
3             0.0      0.0      0.0      0.0
4             0.0      0.0      0.0      0.0
5             0.0      0.0      0.0      0.0
6             0.0    -42.0      0.0     42.0
7             0.0    -58.0      0.0    100.0
8             0.0      0.0      0.0    100.0
9             0.0      0.0      0.0    100.0
10            0.0      0.0      0.0    100.0
11            0.0      0.0      0.0    100.0
12            0.0      0.0      0.0    100.0
13            0.0      0.0      0.0    100.0
14            0.0      0.0      0.0    100.0
15            0.0      0.0      0.0    100.0
16            0.0      0.0      0.0    100.0
17            0.0    100.0      0.0      0.0
18            0.0      0.0      0.0      0.0
19            0.0      0.0      0.0      0.0
20            0.0      0.0      0.0      0.0
21            0.0      0.0      0.0      0.0
22            0.0      0.0      0.0      0.0
23            0.0      0.0      0.0      0.0

In [61]:
df1 = nd.n.generators_t['p']      # primo DataFrame
df2 = network.loads_t['p']   # secondo DataFrame
df1.join(df2, how='inner', lsuffix='_nd', rsuffix='_net')

name      IT0 0 0 solar  slack_unit IT0 0        IT0 0
snapshot
0              0.000000       1766.999590  1766.999590
1              0.000000       1570.006525  1570.006525
2              0.000000       1813.286673  1813.286673
3              0.000000       1580.007168  1580.007168
4           1261.284721          0.000000  1261.284721
5           1347.342170          0.000000  1347.342170
6           1514.170313          0.000000  1514.170313
7           2265.407883          0.000000  2265.407883
8           2976.585599          0.000000  2976.585599
9           3032.860475          0.000000  3032.860475
10          2984.211288          0.000000  2984.211288
11          2726.504207          0.000000  2726.504207
12          2552.071800          0.000000  2552.071800
13          1477.253348          0.000000  1477.253348
14          1393.060128          0.000000  1393.060128
15          2806.174070          0.000000  2806.174070
16             0.000000       4152.574955  4152.574955
17             0.000000       5275.665869  5275.665869
18             0.000000       6016.282514  6016.282514
19             0.000000       4431.866218  4431.866218
20             0.000000       3704.396892  3704.396892
21             0.000000       3444.877716  3444.877716
22             0.000000       3325.595771  3325.595771
23             0.000000       2475.284953  2475.284953

In [62]:
transformation.unitblocks['DCNetworkBlock_3']

{'enumerate': 'UnitBlock_3',
 'block': 'DCNetworkBlock_links',
 'name': 'IT0 0 H2 Electrolysis',
 'FlowValue': masked_array(data=[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
                    0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
              mask=False,
        fill_value=1e+20),
 'DualCost': masked_array(data=[-0., -0., -0., -0., -0., -0., -0., -0., -0., -0., -0.,
                    -0., -0., -0., -0., -0., -0., -0., -0., -0., -0., -0.,
                    -0., -0.],
              mask=False,
        fill_value=1e+20),
 'DesignVariable': 100.0,
 'Efficiencies': [1.0]}

In [63]:
transformation.unitblocks['IntermittentUnitBlock_0']

{'name': 'IT0 0 0 solar',
 'enumerate': 'UnitBlock_0',
 'block': 'IntermittentUnitBlock',
 'IntermittentDesign': masked_array(data=75842.54242652,
              mask=False,
        fill_value=1e+20),
 'Extendable': True,
 'variables': {'Gamma': {'value': 0.0, 'type': 'float', 'size': ()},
  'Kappa': {'value': 1.0, 'type': 'float', 'size': ()},
  'MaxPower': {'value': array([[0.   ],
          [0.   ],
          [0.   ],
          [0.   ],
          [0.213],
          [0.436],
          [0.593],
          [0.7  ],
          [0.764],
          [0.786],
          [0.772],
          [0.72 ],
          [0.627],
          [0.49 ],
          [0.288],
          [0.037],
          [0.   ],
          [0.   ],
          [0.   ],
          [0.   ],
          [0.   ],
          [0.   ],
          [0.   ],
          [0.   ]]),
   'type': 'float',
   'size': ('TimeHorizon',)},
  'MinPower': {'value': array([[0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.]]),
   'type': 'float',
   'size': ('TimeHorizon',)},
  'InertiaPower': {'value': 1.0, 'type': 'float', 'size': ()},
  'ActivePowerCost': {'value': array([[0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01]]),
   'type': 'float',
   'size': ('TimeHorizon',)},
  'InvestmentCost': {'value': [55.0], 'type': 'float', 'size': ()},
  'MaxCapacityDesign': {'value': 725545.55299179, 'type': 'float', 'size': ()},
  'MinCapacityDesign': {'value': 19711.8691837313,
   'type': 'float',
   'size': ()}},
 'ActivePower': masked_array(data=[   0.        ,    0.        ,    0.        ,
                       0.        , 1261.28472064, 1347.34217022,
                    1514.17031308, 2265.40788347, 2976.58559932,
                    3032.86047451, 2984.21128792, 2726.50420714,
                    2552.07179956, 1477.25334789, 1393.06012776,
                    2806.17406978,    0.        ,    0.        ,
                       0.        ,    0.        ,    0.        ,
                       0.        ,    0.        ,    0.        ],
              mask=False,
        fill_value=1e+20)}