In [26]:
# --- Force working directory to this file's folder and build robust paths ---
import os, sys
from pathlib import Path
from configs.test_config import TestConfig
from network_definition import NetworkDefinition
from pypsa2smspp.transformation import Transformation
from datetime import datetime
import pysmspp

from pypsa2smspp.network_correction import (
    clean_marginal_cost,
    clean_global_constraints,
    clean_e_sum,
    clean_efficiency_link,
    clean_ciclicity_storage,
    clean_marginal_cost_intermittent,
    clean_storage_units,
    clean_stores,
    parse_txt_file,
    compare_networks,
    add_slack_unit
    )

def get_datafile(fname):
    return os.path.join(os.path.dirname(__file__), "test_data", fname)

#%% Network definition with PyPSA
config = TestConfig()
nd = NetworkDefinition(config)

nd.n = add_slack_unit(nd.n)
nd.n = clean_ciclicity_storage(nd.n)


network = nd.n.copy()
network.optimize(solver_name='gurobi')

# network.export_to_netcdf("test_pypsa.nc")

network.model.to_file(fn = "pypsa.lp")
#%% Transformation class
then = datetime.now()
transformation = Transformation(network, merge_links=True, expansion_ucblock=True)
print(f"La classe di trasformazione ci mette {datetime.now() - then} secondi")

tran = transformation.convert_to_blocks()

WARNING    2025-10-28 16:35:19,591 pypsa.network.io _import_components_from_df  1732: The following Generator have buses which are not defined:
Index(['IT0 0 0 solar'], dtype='object')
WARNING    2025-10-28 16:35:19,651 pypsa.network.io _import_components_from_df  1732: The following Store have buses which are not defined:
Index(['IT0 0 H2'], dtype='object')
WARNING    2025-10-28 16:35:19,711 pypsa.consistency _log_or_raise  40  : The following links have carriers which are not defined:
Index(['IT0 0 H2 Electrolysis', 'IT0 0 H2 Fuel Cell'], dtype='object', name='Link')
WARNING    2025-10-28 16:35:19,760 pypsa.consistency _log_or_raise  40  : The following stores have carriers which are not defined:
Index(['IT0 0 H2'], dtype='object', name='Store')
WARNING    2025-10-28 16:35:19,801 pypsa.consistency _log_or_raise  40  : The following buses have carriers which are not defined:
Index(['IT0 0 H2'], dtype='object', name='Bus')
INFO       2025-10-28 16:35:20,829 linopy.model solve       1145:  Solve problem using Gurobi solver
INFO       2025-10-28 16:35:21,083 linopy.io  to_lp_file  498 :  Writing time: 0.08s

Set parameter Username

INFO       2025-10-28 16:35:21,085 gurobipy   solve_problem_from_file  1033: Set parameter Username

Set parameter LicenseID to value 2647006

INFO       2025-10-28 16:35:21,086 gurobipy   solve_problem_from_file  1033: Set parameter LicenseID to value 2647006

Academic license - for non-commercial use only - expires 2026-04-03

INFO       2025-10-28 16:35:21,089 gurobipy   solve_problem_from_file  1033: Academic license - for non-commercial use only - expires 2026-04-03

Read LP format model from file /tmp/linopy-problem-mzwswrtx.lp

INFO       2025-10-28 16:35:21,092 gurobipy   solve_problem_from_file  1037: Read LP format model from file /tmp/linopy-problem-mzwswrtx.lp

Reading time = 0.00 seconds

INFO       2025-10-28 16:35:21,094 gurobipy   solve_problem_from_file  1037: Reading time = 0.00 seconds

obj: 314 rows, 146 columns, 493 nonzeros

INFO       2025-10-28 16:35:21,095 gurobipy   solve_problem_from_file  1037: obj: 314 rows, 146 columns, 493 nonzeros

Gurobi Optimizer version 12.0.2 build v12.0.2rc0 (linux64 - "Ubuntu 24.04.3 LTS")

INFO       2025-10-28 16:35:21,096 gurobipy   _solve      1113: Gurobi Optimizer version 12.0.2 build v12.0.2rc0 (linux64 - "Ubuntu 24.04.3 LTS")

INFO       2025-10-28 16:35:21,097 gurobipy   _solve      1113:

CPU model: Intel(R) Xeon(R) Gold 5120 CPU @ 2.20GHz, instruction set [SSE2|AVX|AVX2|AVX512]

INFO       2025-10-28 16:35:21,098 gurobipy   _solve      1113: CPU model: Intel(R) Xeon(R) Gold 5120 CPU @ 2.20GHz, instruction set [SSE2|AVX|AVX2|AVX512]

Thread count: 16 physical cores, 16 logical processors, using up to 16 threads

INFO       2025-10-28 16:35:21,099 gurobipy   _solve      1113: Thread count: 16 physical cores, 16 logical processors, using up to 16 threads

INFO       2025-10-28 16:35:21,100 gurobipy   _solve      1113:

Optimize a model with 314 rows, 146 columns and 493 nonzeros

INFO       2025-10-28 16:35:21,102 gurobipy   _solve      1113: Optimize a model with 314 rows, 146 columns and 493 nonzeros

Model fingerprint: 0x7f822007

INFO       2025-10-28 16:35:21,103 gurobipy   _solve      1113: Model fingerprint: 0x7f822007

Coefficient statistics:

INFO       2025-10-28 16:35:21,105 gurobipy   _solve      1113: Coefficient statistics:

  Matrix range     [4e-02, 1e+00]

INFO       2025-10-28 16:35:21,105 gurobipy   _solve      1113:   Matrix range     [4e-02, 1e+00]

  Objective range  [1e-02, 1e+04]

INFO       2025-10-28 16:35:21,106 gurobipy   _solve      1113:   Objective range  [1e-02, 1e+04]

  Bounds range     [1e+06, 1e+06]

INFO       2025-10-28 16:35:21,107 gurobipy   _solve      1113:   Bounds range     [1e+06, 1e+06]

  RHS range        [1e+02, 7e+05]

INFO       2025-10-28 16:35:21,108 gurobipy   _solve      1113:   RHS range        [1e+02, 7e+05]

Presolve removed 287 rows and 73 columns

INFO       2025-10-28 16:35:21,110 gurobipy   _solve      1113: Presolve removed 287 rows and 73 columns

Presolve time: 0.01s

INFO       2025-10-28 16:35:21,111 gurobipy   _solve      1113: Presolve time: 0.01s

Presolved: 27 rows, 73 columns, 101 nonzeros

INFO       2025-10-28 16:35:21,112 gurobipy   _solve      1113: Presolved: 27 rows, 73 columns, 101 nonzeros

INFO       2025-10-28 16:35:21,113 gurobipy   _solve      1113:

Iteration    Objective       Primal Inf.    Dual Inf.      Time

INFO       2025-10-28 16:35:21,114 gurobipy   _solve      1113: Iteration    Objective       Primal Inf.    Dual Inf.      Time

       0    3.9122388e+08   1.098345e+03   0.000000e+00      0s

INFO       2025-10-28 16:35:21,116 gurobipy   _solve      1113:        0    3.9122388e+08   1.098345e+03   0.000000e+00      0s

      19    3.9990499e+08   0.000000e+00   0.000000e+00      0s

INFO       2025-10-28 16:35:21,117 gurobipy   _solve      1113:       19    3.9990499e+08   0.000000e+00   0.000000e+00      0s

INFO       2025-10-28 16:35:21,118 gurobipy   _solve      1113:

Solved in 19 iterations and 0.02 seconds (0.00 work units)

INFO       2025-10-28 16:35:21,119 gurobipy   _solve      1113: Solved in 19 iterations and 0.02 seconds (0.00 work units)

Optimal objective  3.999049896e+08

INFO       2025-10-28 16:35:21,120 gurobipy   _solve      1113: Optimal objective  3.999049896e+08
INFO       2025-10-28 16:35:21,125 linopy.constants info        246 :  Optimization successful:
Status: ok
Termination condition: optimal
Solution: 146 primals, 314 duals
Objective: 4.00e+08
Solver model: available
Solver message: 2

INFO       2025-10-28 16:35:21,227 pypsa.optimization.optimize assign_duals  681 : The shadow-prices of the constraints Generator-fix-p-lower, Generator-fix-p-upper, Generator-ext-p-lower, Generator-ext-p-upper, Link-fix-p-lower, Link-fix-p-upper, Store-fix-e-lower, Store-fix-e-upper, Store-energy_balance were not assigned to the network.
INFO       2025-10-28 16:35:21,330 linopy.io  to_lp_file  498 :  Writing time: 0.09s

La classe di trasformazione ci mette 0:00:00.138786 secondi

In [27]:
if transformation.dimensions['InvestmentBlock']['NumAssets'] == 0 or transformation.expansion_ucblock:
    ### UCBlock configuration ###
    configfile = pysmspp.SMSConfig(template="UCBlock/uc_solverconfig_grb")  # load a default config file [highs solver]
    temporary_smspp_file = "output/network_uc_hydro_0011.nc"  # path to temporary SMS++ file
    output_file = "output/temp_log_file.txt"  # path to the output file (optional)
    solution_file = "output/solution_uc_hydro_0011.nc"
    
    # Check if the file exists
    if os.path.exists(solution_file):
        os.remove(solution_file)
    
    result = tran.optimize(configfile, temporary_smspp_file, output_file, solution_file, log_executable_call=True)
    
    statistics = network.statistics()
    operational_cost = statistics['Operational Expenditure'].sum()
    # error = (operational_cost - result.objective_value) / operational_cost * 100

    objective_pypsa = network.objective # + network.objective_constant
    objective_smspp = result.objective_value
    error = (objective_pypsa - objective_smspp) / objective_pypsa * 100
    
    print(f"Error PyPSA-SMS++ of {error}%")
    
    # Esegui la funzione sul file di testo
    data_dict = parse_txt_file(output_file)

    print(f"Il solver ci ha messo {data_dict['elapsed_time']}s")
    print(f"Il tempo totale (trasformazione+pysmspp+ottimizzazione smspp) è {datetime.now() - then}")

    
    solution = transformation.parse_solution_to_unitblocks(result.solution, nd.n)
    # transformation.parse_txt_to_unitblocks(output_file)
    transformation.inverse_transformation(nd.n)

    differences = compare_networks(network, nd.n)
    statistics_smspp = nd.n.statistics()
    

else:
    ### InvestmentBlock configuration ###
    configfile = pysmspp.SMSConfig(template="InvestmentBlock/BSPar.txt")
    temporary_smspp_file = "output/temp_network_investment_daily.nc"
    output_file = "output/temp_log_file_investment.txt"  # path to the output file (optional)
    solution_file = "output/temp_solution_file_investment.nc"
    
    # Check if the file exists
    if os.path.exists(solution_file):
        os.remove(solution_file)
    
    result = tran.optimize(configfile, temporary_smspp_file, output_file, solution_file, inner_block_name='InvestmentBlock', log_executable_call=True)
    
    
    objective_pypsa = network.objective # + network.objective_constant
    objective_smspp = result.objective_value
    error = (objective_pypsa - objective_smspp) / objective_pypsa * 100
    
    print(f"Error PyPSA-SMS++ of {error}%")
    print(f"Il tempo totale (trasformazione+pysmspp+ottimizzazione smspp) è {datetime.now() - then}")

    solution = transformation.parse_solution_to_unitblocks(result.solution, nd.n)
    transformation.inverse_transformation(nd.n)

Executing command:
ucblock_solver /dati/pampado/pypsa2smspp/test/output/network_uc_hydro_0011.nc -c /dati/pampado/pySMSpp/pysmspp/data/configs/UCBlock/ -S uc_solverconfig_grb.txt -o -O /dati/pampado/pypsa2smspp/test/output/solution_uc_hydro_0011.nc

Error PyPSA-SMS++ of 0.4313373620767785%
Il solver ci ha messo 0.002707522s
Il tempo totale (trasformazione+pysmspp+ottimizzazione smspp) è 0:00:00.779004
[split] 'DCNetworkBlock_3' -> 'IT0 0 H2 Electrolysis' + 'IT0 0 H2 Fuel Cell'

In [43]:
network.statistics()
# (network.statistics()['Capital Expenditure'].sum() + network.statistics()['Operational Expenditure'].sum()) / 1e8

                           Optimal Capacity  Installed Capacity       Supply  \
Generator slack                  6374.85611          6374.85611  39628.69053
          solar                 85490.29291         19711.86918  27102.71014
Link      H2 electrolysis         100.00000           100.00000      0.00000
          H2 fuel cell            100.00000           100.00000      0.00000
Load      AC                        0.00000             0.00000      0.00000
Store     H2                      100.00000           100.00000    100.00000

                            Withdrawal  Energy Balance Transmission  \
Generator slack                0.00000     39628.69053          0.0
          solar                0.00000     27102.71014          0.0
Link      H2 electrolysis    172.41379      -172.41379          0.0
          H2 fuel cell       100.00000      -100.00000          0.0
Load      AC               66608.98687    -66608.98687          0.0
Store     H2                 100.00000         0.00000          0.0

                           Capacity Factor   Curtailment  Capital Expenditure  \
Generator slack                   0.259017  113367.85601         0.000000e+00
          solar                   0.013209  522257.91210         4.701966e+06
Link      H2 electrolysis         0.071839       0.00000         2.516210e+07
          H2 fuel cell            0.041667       0.00000         1.323257e+07
Load      AC                           NaN       0.00000         0.000000e+00
Store     H2                      0.434167       0.00000         2.224900e+04

                           Operational Expenditure       Revenue  Market Value
Generator slack                       3.962869e+08  3.962869e+08   9999.999992
          solar                       2.710271e+02  4.702237e+06    173.496935
Link      H2 electrolysis             0.000000e+00 -1.724140e+00           NaN
          H2 fuel cell                0.000000e+00 -5.000000e+05           NaN
Load      AC                          0.000000e+00 -4.014891e+08           NaN
Store     H2                          0.000000e+00  4.999983e+05   4999.978758

In [29]:
nd.n.statistics()
# (nd.n.statistics()['Capital Expenditure'].sum() + nd.n.statistics()['Operational Expenditure'].sum()) / 1e8

                           Optimal Capacity  Installed Capacity       Supply  \
Generator slack                  6374.85611          6374.85611  39330.69053
          solar                 88192.99561         19711.86918  28130.29634
Link      H2 electrolysis         100.00000           100.00000      0.00000
          H2 fuel cell            100.00000           100.00000      0.00000
Load      AC                        0.00000             0.00000      0.00000
Store     H2                      100.00000           100.00000    348.00000

                            Withdrawal  Energy Balance Transmission  \
Generator slack                0.00000     39330.69053          0.0
          solar                0.00000     28130.29634          0.0
Link      H2 electrolysis   1200.00000     -1200.00000          0.0
          H2 fuel cell       348.00000      -348.00000          0.0
Load      AC               66608.98687    -66608.98687          0.0
Store     H2                1200.00000      -852.00000          0.0

                           Capacity Factor   Curtailment  Capital Expenditure  \
Generator slack                   0.257069  113665.85601         0.000000e+00
          solar                   0.013290  538597.89346         4.850615e+06
Link      H2 electrolysis         0.500000       0.00000         2.516210e+07
          H2 fuel cell            0.145000       0.00000         1.323257e+07
Load      AC                           NaN       0.00000         0.000000e+00
Store     H2                      2.966667       0.00000         2.224900e+04

                           Operational Expenditure  Revenue  Market Value
Generator slack                       3.933069e+08      0.0           NaN
          solar                       2.813030e+02      0.0           NaN
Link      H2 electrolysis             0.000000e+00      0.0           0.0
          H2 fuel cell                0.000000e+00      0.0           0.0
Load      AC                          0.000000e+00      0.0           0.0
Store     H2                          0.000000e+00      0.0           NaN

In [45]:
network.generators[['capital_cost', 'marginal_cost']]

                  capital_cost  marginal_cost
Generator
IT0 0 0 solar             55.0           0.01
slack_unit IT0 0           0.0       10000.00

In [57]:
pd.DataFrame({
    "PyPSA e": network.stores_t["e"]['IT0 0 H2'],
    "PyPSA p": network.stores_t["p"]['IT0 0 H2'],
    "PyPSA solar": network.generators_t['p']['IT0 0 0 solar'],
    "PyPSA slack": network.generators_t['p']['slack_unit IT0 0'],
    "SMS++ e": nd.n.stores_t["e"]['IT0 0 H2'],
    "SMS++ p": nd.n.stores_t["p"]['IT0 0 H2'],
    "SMS++ solar": nd.n.generators_t['p']['IT0 0 0 solar'],
    "SMS++ slack": nd.n.generators_t['p']['slack_unit IT0 0']
})

,PyPSA e,PyPSA p,PyPSA solar,PyPSA slack,SMS++ e,SMS++ p,SMS++ solar,SMS++ slack
snapshot,,,,,,,,
0,0.0,0.0,0.000000,1682.613445,0.0,0.0,0.000000,1682.613445
1,0.0,0.0,0.000000,1934.692052,0.0,0.0,0.000000,1934.692052
2,0.0,0.0,0.000000,1636.220757,0.0,0.0,0.000000,1636.220757
3,0.0,0.0,0.000000,1495.200026,0.0,0.0,0.000000,1495.200026
4,0.0,0.0,1256.460709,0.000000,58.0,-100.0,1356.460709,0.000000
5,0.0,0.0,1326.229412,0.000000,116.0,-100.0,1426.229412,0.000000
6,42.0,-42.0,1331.798517,0.000000,174.0,-100.0,1359.384723,0.000000
7,100.0,-58.0,2981.472610,0.000000,232.0,-100.0,2981.472610,0.000000
8,100.0,0.0,3284.832101,0.000000,290.0,-100.0,3384.832101,0.000000
9,100.0,0.0,2871.205567,0.000000,348.0,-100.0,2971.205567,0.000000
10,100.0,0.0,2906.018604,0.000000,406.0,-100.0,3006.018604,0.000000
11,100.0,0.0,2763.973260,0.000000,464.0,-100.0,2863.973260,0.000000
12,100.0,0.0,2496.400940,0.000000,522.0,-100.0,2596.400940,0.000000
13,100.0,0.0,1258.050928,0.000000,580.0,-100.0,1358.050928,0.000000
14,100.0,0.0,1463.126653,0.000000,638.0,-100.0,1563.126653,0.000000
15,100.0,0.0,3163.140838,0.000000,696.0,-100.0,3263.140838,0.000000
16,100.0,0.0,0.000000,4081.988528,596.0,50.0,0.000000,4031.988528
17,0.0,100.0,0.000000,5384.184720,500.0,48.0,0.000000,5386.184720
18,0.0,0.0,0.000000,6374.856106,500.0,0.0,0.000000,6374.856106
19,0.0,0.0,0.000000,5359.005399,400.0,50.0,0.000000,5309.005399
20,0.0,0.0,0.000000,3588.366317,300.0,50.0,0.000000,3538.366317
21,0.0,0.0,0.000000,3122.131997,200.0,50.0,0.000000,3072.131997
22,0.0,0.0,0.000000,2879.812694,100.0,50.0,0.000000,2829.812694
23,0.0,0.0,0.000000,2089.618489,0.0,50.0,0.000000,2039.618489

In [58]:
transformation.unitblocks['BatteryUnitBlock_2']['variables']['MaxStorage']

{'value': array([[100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.],
        [100.]]),
 'type': 'float',
 'size': ('TimeHorizon',)}

In [32]:
(network.objective + network.objective_constant) / 1e8

4.00989142438202

In [33]:
transformation.unitblocks['IntermittentUnitBlock_0']['variables']

{'Gamma': {'value': 0.0, 'type': 'float', 'size': ()},
 'Kappa': {'value': 1.0, 'type': 'float', 'size': ()},
 'MaxPower': {'value': array([[0.   ],
         [0.   ],
         [0.   ],
         [0.   ],
         [0.213],
         [0.436],
         [0.593],
         [0.7  ],
         [0.764],
         [0.786],
         [0.772],
         [0.72 ],
         [0.627],
         [0.49 ],
         [0.288],
         [0.037],
         [0.   ],
         [0.   ],
         [0.   ],
         [0.   ],
         [0.   ],
         [0.   ],
         [0.   ],
         [0.   ]]),
  'type': 'float',
  'size': ('TimeHorizon',)},
 'MinPower': {'value': array([[0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.],
         [0.]]),
  'type': 'float',
  'size': ('TimeHorizon',)},
 'InertiaPower': {'value': 1.0, 'type': 'float', 'size': ()},
 'ActivePowerCost': {'value': array([[0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01],
         [0.01]]),
  'type': 'float',
  'size': ('TimeHorizon',)},
 'InvestmentCost': {'value': [55.0], 'type': 'float', 'size': ()},
 'MaxCapacityDesign': {'value': 725545.55299179, 'type': 'float', 'size': ()},
 'MinCapacityDesign': {'value': 19711.8691837313, 'type': 'float', 'size': ()}}

In [34]:
network.links.efficiency

Link
IT0 0 H2 Electrolysis    0.58
IT0 0 H2 Fuel Cell       0.50
Name: efficiency, dtype: float64

In [35]:
import pandas as pd
df1 = nd.n.stores_t['p']      # primo DataFrame
df2 = network.stores_t['p']   # secondo DataFrame
df1.join(df2, how='inner', lsuffix='_nd', rsuffix='_net')

Store     IT0 0 H2_nd  IT0 0 H2_net
snapshot
0                 0.0           0.0
1                 0.0           0.0
2                 0.0           0.0
3                 0.0           0.0
4              -100.0           0.0
5              -100.0           0.0
6              -100.0         -42.0
7              -100.0         -58.0
8              -100.0           0.0
9              -100.0           0.0
10             -100.0           0.0
11             -100.0           0.0
12             -100.0           0.0
13             -100.0           0.0
14             -100.0           0.0
15             -100.0           0.0
16               50.0           0.0
17               48.0         100.0
18                0.0           0.0
19               50.0           0.0
20               50.0           0.0
21               50.0           0.0
22               50.0           0.0
23               50.0           0.0

In [36]:
# --- Multi-column case (align on common link names) ---
p0_nd  = nd.n.links_t['p0']
p0_net = network.links_t['p0']
p1_nd  = nd.n.links_t['p1']
p1_net = network.links_t['p1']

common_links_p0 = p0_nd.columns.intersection(p0_net.columns)
common_links_p1 = p1_nd.columns.intersection(p1_net.columns)

p0_cmp = p0_nd[common_links_p0].join(p0_net[common_links_p0], lsuffix='_nd', rsuffix='_net')
p1_cmp = p1_nd[common_links_p1].join(p1_net[common_links_p1], lsuffix='_nd', rsuffix='_net')

# Pack everything together with a neat column MultiIndex: ('p0','battery_nd'), ('p0','battery_net'), ...
links_merged = pd.concat({'p0': p0_cmp, 'p1': p1_cmp}, axis=1)

# Diffs for common links
p0_diff = p0_nd[common_links_p0] - p0_net[common_links_p0]
p1_diff = p1_nd[common_links_p1] - p1_net[common_links_p1]

links_merged

                               p0                        \
Link     IT0 0 H2 Electrolysis_nd IT0 0 H2 Fuel Cell_nd
snapshot
0                             0.0                   0.0
1                             0.0                   0.0
2                             0.0                   0.0
3                             0.0                   0.0
4                           100.0                   0.0
5                           100.0                   0.0
6                           100.0                   0.0
7                           100.0                   0.0
8                           100.0                   0.0
9                           100.0                   0.0
10                          100.0                   0.0
11                          100.0                   0.0
12                          100.0                   0.0
13                          100.0                   0.0
14                          100.0                   0.0
15                          100.0                   0.0
16                            0.0                  50.0
17                            0.0                  48.0
18                            0.0                   0.0
19                            0.0                  50.0
20                            0.0                  50.0
21                            0.0                  50.0
22                            0.0                  50.0
23                            0.0                  50.0

                                                           \
Link     IT0 0 H2 Electrolysis_net IT0 0 H2 Fuel Cell_net
snapshot
0                         0.000000                    0.0
1                         0.000000                    0.0
2                         0.000000                    0.0
3                         0.000000                    0.0
4                         0.000000                    0.0
5                         0.000000                    0.0
6                        72.413793                    0.0
7                       100.000000                    0.0
8                         0.000000                    0.0
9                         0.000000                    0.0
10                        0.000000                    0.0
11                        0.000000                    0.0
12                        0.000000                    0.0
13                        0.000000                    0.0
14                        0.000000                    0.0
15                        0.000000                    0.0
16                        0.000000                    0.0
17                        0.000000                  100.0
18                        0.000000                    0.0
19                        0.000000                    0.0
20                        0.000000                    0.0
21                        0.000000                    0.0
22                        0.000000                    0.0
23                        0.000000                    0.0

                               p1                        \
Link     IT0 0 H2 Electrolysis_nd IT0 0 H2 Fuel Cell_nd
snapshot
0                            -0.0                  -0.0
1                            -0.0                  -0.0
2                            -0.0                  -0.0
3                            -0.0                  -0.0
4                           -58.0                  -0.0
5                           -58.0                  -0.0
6                           -58.0                  -0.0
7                           -58.0                  -0.0
8                           -58.0                  -0.0
9                           -58.0                  -0.0
10                          -58.0                  -0.0
11                          -58.0                  -0.0
12                          -58.0                  -0.0
13                          -58.0                  -0.0
14                          -58.0                  -0.0
15                          -58.0                  -0.0
16                           -0.0                 -25.0
17                           -0.0                 -24.0
18                           -0.0                  -0.0
19                           -0.0                 -25.0
20                           -0.0                 -25.0
21                           -0.0                 -25.0
22                           -0.0                 -25.0
23                           -0.0                 -25.0


Link     IT0 0 H2 Electrolysis_net IT0 0 H2 Fuel Cell_net
snapshot
0                             -0.0                   -0.0
1                             -0.0                   -0.0
2                             -0.0                   -0.0
3                             -0.0                   -0.0
4                             -0.0                   -0.0
5                             -0.0                   -0.0
6                            -42.0                   -0.0
7                            -58.0                   -0.0
8                             -0.0                   -0.0
9                             -0.0                   -0.0
10                            -0.0                   -0.0
11                            -0.0                   -0.0
12                            -0.0                   -0.0
13                            -0.0                   -0.0
14                            -0.0                   -0.0
15                            -0.0                   -0.0
16                            -0.0                   -0.0
17                            -0.0                  -50.0
18                            -0.0                   -0.0
19                            -0.0                   -0.0
20                            -0.0                   -0.0
21                            -0.0                   -0.0
22                            -0.0                   -0.0
23                            -0.0                   -0.0

In [37]:
# Take the four series/single-col DF and give them clear names
p_nd  = nd.n.stores_t['p'].squeeze().rename('p_smspp')   # net power (nd)
p_net = network.stores_t['p'].squeeze().rename('p_pypsa')

e_nd  = nd.n.stores_t['e'].squeeze().rename('e_smspp')         # energy/SoC (nd)
e_net = network.stores_t['e'].squeeze().rename('e_pypsa')

# Optional sanity check: same index (snapshots)
assert p_nd.index.equals(p_net.index) and p_nd.index.equals(e_nd.index) and p_nd.index.equals(e_net.index), \
    "Indices must match"

# Simple side-by-side merge
pd.concat([p_nd, p_net, e_nd, e_net], axis=1)

# Now `merged` has columns: ['p_nd', 'p_net', 'e_nd', 'e_net']

          p_smspp  p_pypsa  e_smspp  e_pypsa
snapshot
0             0.0      0.0      0.0      0.0
1             0.0      0.0      0.0      0.0
2             0.0      0.0      0.0      0.0
3             0.0      0.0      0.0      0.0
4          -100.0      0.0     58.0      0.0
5          -100.0      0.0    116.0      0.0
6          -100.0    -42.0    174.0     42.0
7          -100.0    -58.0    232.0    100.0
8          -100.0      0.0    290.0    100.0
9          -100.0      0.0    348.0    100.0
10         -100.0      0.0    406.0    100.0
11         -100.0      0.0    464.0    100.0
12         -100.0      0.0    522.0    100.0
13         -100.0      0.0    580.0    100.0
14         -100.0      0.0    638.0    100.0
15         -100.0      0.0    696.0    100.0
16           50.0      0.0    596.0    100.0
17           48.0    100.0    500.0      0.0
18            0.0      0.0    500.0      0.0
19           50.0      0.0    400.0      0.0
20           50.0      0.0    300.0      0.0
21           50.0      0.0    200.0      0.0
22           50.0      0.0    100.0      0.0
23           50.0      0.0      0.0      0.0

In [38]:
df1 = nd.n.generators_t['p']      # primo DataFrame
df2 = network.loads_t['p']   # secondo DataFrame
df1.join(df2, how='inner', lsuffix='_nd', rsuffix='_net')

          IT0 0 0 solar  slack_unit IT0 0        IT0 0
snapshot
0              0.000000       1682.613445  1682.613445
1              0.000000       1934.692052  1934.692052
2              0.000000       1636.220757  1636.220757
3              0.000000       1495.200026  1495.200026
4           1356.460709          0.000000  1256.460709
5           1426.229412          0.000000  1326.229412
6           1359.384723          0.000000  1259.384723
7           2981.472610          0.000000  2881.472610
8           3384.832101          0.000000  3284.832101
9           2971.205567          0.000000  2871.205567
10          3006.018604          0.000000  2906.018604
11          2863.973260          0.000000  2763.973260
12          2596.400940          0.000000  2496.400940
13          1358.050928          0.000000  1258.050928
14          1563.126653          0.000000  1463.126653
15          3263.140838          0.000000  3163.140838
16             0.000000       4031.988528  4081.988528
17             0.000000       5386.184720  5434.184720
18             0.000000       6374.856106  6374.856106
19             0.000000       5309.005399  5359.005399
20             0.000000       3538.366317  3588.366317
21             0.000000       3072.131997  3122.131997
22             0.000000       2829.812694  2879.812694
23             0.000000       2039.618489  2089.618489

In [39]:
transformation.unitblocks['DCNetworkBlock_3']

{'enumerate': 'UnitBlock_3',
 'block': 'DCNetworkBlock_links',
 'name': 'IT0 0 H2 Electrolysis',
 'FlowValue': masked_array(data=[  0.,   0.,   0.,   0., 100., 100., 100., 100., 100.,
                    100., 100., 100., 100., 100., 100., 100.,   0.,   0.,
                      0.,   0.,   0.,   0.,   0.,   0.],
              mask=False,
        fill_value=1e+20),
 'DualCost': masked_array(data=[  -0.        ,   -0.        ,   -0.        ,
                      -0.        , 2899.99      , 2899.99      ,
                    2899.99      , 2899.99      , 2899.99      ,
                    2899.99      , 2899.99      , 2899.99      ,
                    2899.99      , 2899.99      , 2899.99      ,
                    1413.50351351,   -0.        ,   -0.        ,
                      -0.        ,   -0.        ,   -0.        ,
                      -0.        ,   -0.        ,   -0.        ],
              mask=False,
        fill_value=1e+20),
 'DesignVariable': 100.0,
 'Efficiencies': [1.0]}

In [40]:
transformation.unitblocks['IntermittentUnitBlock_0']

{'name': 'IT0 0 0 solar',
 'enumerate': 'UnitBlock_0',
 'block': 'IntermittentUnitBlock',
 'IntermittentDesign': masked_array(data=88192.99561188,
              mask=False,
        fill_value=1e+20),
 'Extendable': True,
 'variables': {'Gamma': {'value': 0.0, 'type': 'float', 'size': ()},
  'Kappa': {'value': 1.0, 'type': 'float', 'size': ()},
  'MaxPower': {'value': array([[0.   ],
          [0.   ],
          [0.   ],
          [0.   ],
          [0.213],
          [0.436],
          [0.593],
          [0.7  ],
          [0.764],
          [0.786],
          [0.772],
          [0.72 ],
          [0.627],
          [0.49 ],
          [0.288],
          [0.037],
          [0.   ],
          [0.   ],
          [0.   ],
          [0.   ],
          [0.   ],
          [0.   ],
          [0.   ],
          [0.   ]]),
   'type': 'float',
   'size': ('TimeHorizon',)},
  'MinPower': {'value': array([[0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.],
          [0.]]),
   'type': 'float',
   'size': ('TimeHorizon',)},
  'InertiaPower': {'value': 1.0, 'type': 'float', 'size': ()},
  'ActivePowerCost': {'value': array([[0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01],
          [0.01]]),
   'type': 'float',
   'size': ('TimeHorizon',)},
  'InvestmentCost': {'value': [55.0], 'type': 'float', 'size': ()},
  'MaxCapacityDesign': {'value': 725545.55299179, 'type': 'float', 'size': ()},
  'MinCapacityDesign': {'value': 19711.8691837313,
   'type': 'float',
   'size': ()}},
 'ActivePower': masked_array(data=[   0.        ,    0.        ,    0.        ,
                       0.        , 1356.46070918, 1426.22941205,
                    1359.38472348, 2981.47260974, 3384.83210074,
                    2971.20556722, 3006.01860449, 2863.97325957,
                    2596.40094019, 1358.05092782, 1563.12665269,
                    3263.14083764,    0.        ,    0.        ,
                       0.        ,    0.        ,    0.        ,
                       0.        ,    0.        ,    0.        ],
              mask=False,
        fill_value=1e+20)}